{% extends "layout.twig" %}

{% block content %}

<header class="header">
	<aside class="aside left">
		<h2>{{widget('content', 'address-header', {content: '. 23RD AND 4TH SIMMION ST .', lines: 'all'})|raw}}</h2>
	</aside>
	<div class="centre">
		<a href="#" title="Leaf Avenue">
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 27 34">
				<image xlink:href="{{ asset('images/logo.svg') }}" src="{{ asset('images/logo.jpg') }}" width="27" height="34"></image>
			</svg>
		</a>
		<h1>{{widget('companyname', 'companyname', {"business": "Leaf Avenue"})|raw}}</h1>
	</div>			
	<aside class="aside right">
		<h2>{{widget('content', 'hours-header', {content: '. OPEN 11AM TIL LATE DAILY .', lines: 'all'})|raw}}</h2>
	</aside>
	
</header>

<section class="section main default-page">
	{{widget('blogpost', 'blogpost1', {})|raw}}
	{# {{zone('main')|raw}} #}
</section>

<footer class="footer">
	<aside class="aside left">
		<h2>{{widget('content', 'address-header', {content: '. 23RD AND 4TH SIMMION ST .', lines: 'all'})|raw}}</h2>
	</aside>
</footer>

{% endblock %}