<header class="header">
	<aside class="aside left">
		<h2>{{widget('content', 'address-header', {content: '<span>. 23RD AND 4TH SIMMION ST .</span>', lines: 'all'})|raw}}</h2>
	</aside>
	<div class="centre">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.svg')})|raw}}
		<h1>{{widget('companyname', 'companyname', {"business": "Leaf Avenue"})|raw}}</h1>
	</div>
	<aside class="aside right">
		<h2>{{widget('content', 'hours-header', {content: '<span>. OPEN 11AM TIL LATE DAILY .</span>', lines: 'all'})|raw}}</h2>
	</aside>
</header>
<nav class="nav">
	{{widget('extendednavigation', 'navigationheader', {})|raw}}
</nav>